/*
Paleta de colores

#dad7cd
#a3b18a
#588157
#3a5a40
#344e41
*/


.cell {
  display: flex;
  margin: 1px;
  width: 30px;
  height: 30px;
  border: 1px solid #344e41;
  background-color: #588157;
  border-radius: 3px;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}
img {
  content: url(../assets/flag.png);
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: none;
}
.is-flagged img {
  display: block;
}

.is-empty {
  background-color: #a3b18a;
}