
$hidden-cell-color: #588157;
$defused-cell-color: #a3b18a;
$exploded-cell-color: #832232;


.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $hidden-cell-color;
  color: #fff;
  font-weight: 600;
  margin: 1px;
  border-radius: 3px;
  width: 23px;
  height: 23px;


  cursor: pointer;
  transition: background-color 0.2s;

  &.is-flagged {
    background-image: url("../assets/flag.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.is-defused {
    pointer-events: none;
    background-color: $defused-cell-color;
  }

  &.has-mine {
    background-image: url("../assets/bomb.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $exploded-cell-color;
  }
}

@for $i from 1 through 8 {
  .color-#{$i} {
    color: nth(#0077b6 #137547 #c1121f #01497c #6a040f #00a896 #000 #7f7f7f, $i);
  }
}

